<%- include('include/header') %>
                        <!-- Page-header end -->
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="row">
                    <!-- Material statustic card start -->
                    <div class="col-xl-4 col-md-12">
                        <div class="card mat-stat-card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-sm-12 p-b-20 p-t-20 b-r-default">
                                        <div class="row align-items-center text-center">
                                            <div class="col-4 p-r-0">
                                                <i class="far fa-file-alt text-c-red f-24"></i>
                                            </div>
                                            <div class="col-8 p-l-0">
                                                <h5 id="totalCustomers">500</h5>
                                                <p class="text-muted m-b-0">Customers</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-xl-4 col-md-12">
                            <div class="card mat-stat-card">
                                <div class="card-block">
                                    <div class="row align-items-center b-b-default">
                                        <div class="col-sm-12 b-r-default p-b-20 p-t-20">
                                            <div class="row align-items-center text-center">
                                                <div class="col-4 p-r-0">
                                                    <i class="far fa-user text-c-purple f-24"></i>
                                                </div>
                                                <div class="col-8 p-l-0">
                                                    <h5 id="totalEmployees">300</h5>
                                                    <p class="text-muted m-b-0">Employees</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                          
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <div class="card mat-clr-stat-card text-white green ">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-3 text-center bg-c-green">
                                            <i class="fas fa-star mat-icon f-24"></i>
                                        </div>
                                        <div class="col-9 cst-cont">
                                            <h5 id="totalOrders">500</h5>
                                            <p class="m-b-2">Orders</p>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="col-md-6 justify-content-center">
                            <div class="p-6 bg-white shadow rounded mb-3">
                                <canvas id="lineChart">
                                </canvas>
                            </div>
                        </div>
                        <div class="col-md-6 justify-content-center">
                            <div class="p-6 bg-white shadow rounded mb-3">
                                <canvas id="lineChart2">
                                </canvas>
                            </div>
                        </div>
                        <!--  sale analytics start -->
                        <div class="col-xl-6 col-md-12">
                            <div class="card table-card">
                                <div class="card-header">
                                    <h5>Best Selling Rice this Month</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                            <li><i class="fa fa-refresh reload-card"></i></li>
                                            <li><i class="fa fa-trash close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover m-b-0 without-header">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="d-inline-block align-middle">
                                                            <!-- <img src="images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15"> -->
                                                            <div class="d-inline-block">
                                                                <h6>Isabela Rice</h6>
                                                                
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        <h6 class="f-w-700">78<i class="fas fa-level-up-alt text-c-red m-l-10"></i></h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-inline-block align-middle">
                                                            <!-- <img src="images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15"> -->
                                                            <div class="d-inline-block">
                                                                <h6>Arirang Rice</h6>
                                                                <p class="text-muted m-b-0"></p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        <h6 class="f-w-700">100<i class="fas fa-level-up-alt text-c-green m-l-10"></i></h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-inline-block align-middle">
                                                            <!-- <img src="images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15"> -->
                                                            <div class="d-inline-block">
                                                                <h6>Brown Rice</h6>
                                                                <p class="text-muted m-b-0">Sales executive , NY</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        <h6 class="f-w-700">89<i class="fas fa-level-up-alt text-c-green m-l-10"></i></h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-inline-block align-middle">
                                                            <!-- <img src="images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15"> -->
                                                            <div class="d-inline-block">
                                                                <h6>Gingco Sinan</h6>
                                                                <p class="text-muted m-b-0"></p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        <h6 class="f-w-700">89<i class="fas fa-level-up-alt text-c-green m-l-10"></i></h6>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-12">
                            <div class="row">
                                <!-- sale card start -->

                                <div class="col-md-6">
                                    <div class="card text-center order-visitor-card">
                                        <div class="card-block">
                                            <h6 class="m-b-0">Total Rice Sacks Sales</h6>
                                            <h4 class="m-t-15 m-b-15"><i class="fa m-r-15 text-c-red"></i>7652</h4>
                                            <p class="m-b-0">48% From Last 24 Hours</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card text-center order-visitor-card">
                                        <div class="card-block">
                                            <h6 class="m-b-0">Online Orders Status</h6>
                                            <h4 class="m-t-15 m-b-15"><i class="fa  m-r-15 text-c-green"></i>6325</h4>
                                            <p class="m-b-0">36% From Last 6 Months</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card bg-c-red total-card">
                                        <div class="card-block">
                                            <div class="text-left">
                                                <h4>489</h4>
                                                <p class="m-0">Total Sacks</p>
                                            </div>
                                            <span class="label bg-c-red value-badges">#</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card bg-c-green total-card">
                                        <div class="card-block">
                                            <div class="text-left">
                                                <h4>₱5782</h4>
                                                <p class="m-0">Total Income</p>
                                            </div>
                                            <span class="label bg-c-green value-badges">#</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card text-center order-visitor-card">
                                        <div class="card-block">
                                            <h6 class="m-b-0">Over All Rice Kilos</h6>
                                            <h4 class="m-t-15 m-b-15"><i class="fa m-r-15 text-c-red"></i>652</h4>
                                            <p class="m-b-0">From Last 6 Months</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card text-center order-visitor-card">
                                        <div class="card-block">
                                            <h6 class="m-b-0">Monthly Earnings</h6>
                                            <h4 class="m-t-15 m-b-15"><i class="fa m-r-15 text-c-green"></i>5963</h4>
                                            <p class="m-b-0">From Last 6 Months</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- sale card end -->
                            </div>
                        </div>

                        <!--  sale analytics end -->
                        <!-- Project statustic end -->
                                    </div>
                                </div>
                                <!-- Page-body end -->
                            </div>
                            <div id="styleSelector"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/charts_script.js">
    
</script>

<%- include('include/footer') %>