    <%- include('include/header') %>
   
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">About Us</h1>
            <div style="border-top: solid; border-color: #FFF; width: 10rem; margin: 0 auto"></div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-end">
                <div class="col-lg-6">
                    <div class="row g-2">
                        <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                            <div class="about-experience rounded wow fadeIn" style="background-color: #0275d8;">
                                <h1 class="display-1 mb-0">19</h1>
                                <small class="fs-5 fw-bold text-white-50">Years Experience</small>
                            </div>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded" src="img/rice/rice-13.jpg">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <img class="img-fluid rounded" src="img/rice/rice-19.jpg">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                            <img class="img-fluid rounded" src="img/rice/rice-16.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="section-title bg-white text-start text-grey pe-3">About Us</p>
                    <h1 class="mb-4">Additional Overview</h1>
                    <p class="mb-4">Founded in 2003, Jannamer Rice Wholesaler and Retailer was one of the rice provider here in Cavite, Batangas and Manila area. Mr. Elmer Sadaba and his wife Mrs. Joan Sadaba was the company owner found in General Trias City, Cavite.</p>
                    <div class="row g-5 pt-2 mb-5">
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="img/service.png" alt="">
                            <h5 class="mb-3">Dedicated Services</h5>
                            <span>Clita erat ipsum et lorem et sit, sed stet lorem sit clita</span>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="img/product.png" alt="">
                            <h5 class="mb-3">Rice Products</h5>
                            <span>Clita erat ipsum et lorem et sit, sed stet lorem sit clita</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-grey px-3">Who are we?</p>
                <h1 class="mb-5">More About Us!</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="img/jannamer/warehouse.jpeg" alt="">
                        <h5>Rice Warehouse</h5>
                        <div class="d-flex justify-content-center">
                            <p class="mb-4">We have and we can provide you a different variety and quality of rice that sell in market . Our rice has no same brand and name in the market . We also offer Retailing and Wholesaling . Contact us for updated items and prices available . </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="img/jannamer/delivery service.jpeg" alt="">
                        <h5>Delivery Services</h5>
                        <div class="d-flex justify-content-center">
                            <p class="mb-4">We also have a delivery system which delivered your order in your place or business stall . Please call/contact us for more info in delivery transaction. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="img/jannamer/good customer dealing.jpeg" alt="">
                        <h5>Good Customer Dealing</h5>
                        <div class="d-flex justify-content-center">
                            <p class="mb-4">Easy, fast and good customer relationship all the time.  Satisfy answers in your inquiries about our product and prices.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <%- include('include/footer') %>