<%- include('include/header') %>
<div class="row">
    <div class="col-sm-6 mobile-inputs">

        <hr>
        <h4 class="title">Customer</h4>
        <hr>
        <form action="/admin/api/newCustomer" method="post" id="add_customer">
            <div class="form-group">
                <input type="text" name="custName" class="form-control form-txt-primary" placeholder="Customer Name" style="background-color: rgba(0, 255, 255, 0.363);">
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="Number" name="custPhone" class="form-control form-txt-primary" placeholder="Phone Number" style="background-color: rgba(0, 255, 255, 0.363);">
                </div>
                <div class="col-sm-6">
                    <input type="datetime-local" name="custDate" class="form-control form-txt-primary" placeholder="Date" style="background-color: rgba(0, 255, 255, 0.363);">
                </div>
            </div>
            <div class="form-group row">
                <!-- <div class="col-sm-6">
                    <input type="datetime-local" name="date" class="form-control form-txt-primary" placeholder="Date">
                </div> -->
                <!-- <div class="col-sm-6">
                    <input type="number" name="cavans" class="form-control form-txt-primary" placeholder="Caban">
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-sm-6">
                    <input type="number" name="selectPricing" class="form-control form-txt-primary" placeholder="Price">
                </div> -->
                <!-- <div class="col-sm-6">
                    <input type="number" name="newBalance" class="form-control form-txt-primary" placeholder="Balance">
                </div> -->
               
            </div>
            
        </div>

        <div class="col-sm-6 mobile-inputs">
            <hr>
            <h4 class="title">Records</h4>
            <hr>
         
            <div class="form-group">
                <input type="text" name="custLocation" class="form-control form-txt-primary" placeholder="Customer Location" style="background-color: rgba(0, 255, 255, 0.363);">
            </div>
            <div class="form-group">
                <input type="text" name="custCreditLimit" class="form-control form-txt-primary" placeholder="Credit Limit" style="background-color: rgba(0, 255, 255, 0.363);">
            </div>
                
                    
                </div>
             
                
      

            <div class="row" style="margin-top: 1rem;margin-bottom: 1rem;">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Add New Records</button>
                    </div>
                </div>
        </form>
    
</div>  




<hr>



<div class="page-body">
    <!-- Default color card start -->
    <div class="card">
        <div class="card-header">
            <h5>Ordering Details</h5>
        </div>
        <fieldset>
        <form action="/admin/api/orderingDetails" method="post" name="myform">
        <div class="card-block">
            <div class="row text-uppercase text-center">
                <div class="col-md-2 waves-effect waves-light p-b-10">
                    <input type="date" name="date" class="form-control form-txt-warning" style="background-color:#6495ED;" placeholder="Date">
                </div>
                <div class="col-md-2 waves-effect waves-light p-b-10">
                    <input type="text" name="itemName" class="form-control form-txt-warning" style="background-color: #6495ED;" placeholder="Item Name">
                </div>
                <div class="col-md-2 waves-effect waves-light p-b-10">
                    <input type="text" name="selectPricing" class="form-control form-txt-warning"  style="background-color: #6495ED;" placeholder="Select Pricing">
                </div>
                <div class="col-md-2 waves-effect waves-light p-b-10">
                    <input type="text" name="price" class="form-control form-txt-warning"  style="background-color: #6495ED;" placeholder="Price">
                </div>
                <div class="col-md-2 waves-effect waves-light p-b-10">
                    <input type="number" name="kilosType" class="form-control form-txt-warning" style="background-color: #6495ED;" placeholder="Kilos type/sacks">
                </div>
                <div class="col-md-2 waves-effect waves-light p-b-10">
                    <input type="number" name="sacks" class="form-control form-txt-warning" onkeyup="kilosCal(this.value)"  style="background-color: #6495ED;" placeholder="By Sacks" >
                </div>
               
                <div class="col-md-6 waves-effect waves-light p-b-10">
                    <input type="number" name="kilos" class="form-control form-txt-warning" readonly  onkeyup="pricingCal(this.value)"  style="background-color: #6495ED;" placeholder="Kilos">
                </div>
                <!-- <div class="col-md-6 waves-effect waves-light p-b-10">
                    <input type="number" name="inputKilos" class="form-control form-txt-primary"style="background-color: blue;" onkeyup="calculate(this.value)"  placeholder="Retype Kilos">
                </div> -->
                <div class="col-md-6 waves-effect waves-light p-b-10">
                    <input type="number" name="amount"readonly class="form-control form-txt-warning"style="background-color: blue;"  placeholder="Amount">
                </div>
        
            </div>
            <!-- end of eow -->
        </div>
    </div>
    
<div class="page-body">
    <!-- Default color card start -->
    <div class="card">
        <div class="card-header">
            <h5>Select Customer</h5>
        </div>
        <div class="card-block">
            <div class="row text-uppercase text-center">
                <div class="col-md-3 waves-effect waves-light p-b-10">
                    <!-- <input type="text" name="customer" class="form-control form-txt-primary" placeholder="Select Customer"> -->

                    <select id="cars" name="customer" class="form-control form-txt-warning" placeholder="Customer Name" style="background-color: #6495ED;">
                        <option value="Select Customer">Select Customer</option>
                        <% for(var i = 0; i < customer.length; i++) { %>
                          
                        <option value="<%= customer[i].custName %>"><%= customer[i].custName %></option>
                        
                        
                        <% } %>
                      </select>

                </div>
                <div class="col-md-3 waves-effect waves-light p-b-10">
                    <input type="number" name="previousRemitance"  class="form-control form-txt-warning" placeholder="Previous Remittance" style="background-color: #6495ED;">
                </div>
                <div class="col-md-3 waves-effect waves-light p-b-10">
                    <input type="number" name="previousBalance"  class="form-control form-txt-warning" placeholder="Previous Balance" style="background-color: #6495ED;">
                </div>
                <div class="col-md-3 waves-effect waves-light p-b-10">
                    <select id="cars" name="isCleared" class="form-control form-txt-warning"placeholder="Check Cleared" style="background-color: #6495ED;">
                        <option value="is Cleared">Is Cleared?</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        
                   
                      </select>
                </div>
                <div class="col-md-3 waves-effect waves-light p-b-10">
                    <input type="number" name="creditLimit"  class="form-control form-txt-warning" placeholder="Credit Limit" style="background-color: #6495ED;">
                </div>
                <div class="col-md-3 waves-effect waves-light p-b-10">
                    <select id="cars" name="transaction" class="form-control form-txt-warning" name="isCleared" placeholder="Check Cleared" style="background-color: #6495ED;">
                        <option value="Transaction Type">Transaction Type</option>
                        <option value="Delivery">Delivery</option>
                        <option value="Pick Up">Pick Up</option>
                        
                   
                      </select>
                </div>
                <div class="col-md-3 waves-effect waves-light p-b-10">
                    <input type="text" name="addOns" class="form-control form-txt-warning" placeholder="Add-Ons" style="background-color: #6495ED;">
                </div>
                <div class="col-md-3 waves-effect waves-light p-b-10">
                    <input type="number" name="less" class="form-control form-txt-warning" placeholder="Less" style="background-color: #6495ED;">
                </div>
                <div class="col-md-3 waves-effect waves-light p-b-10">
                    <input type="number" name="cashRemited" class="form-control form-txt-warning" onkeyup="changeCal(this.value)" placeholder="Cash Remited" style="background-color: #6495ED;">
                </div>
                <div class="col-md-3 waves-effect waves-light p-b-10">
                    <input type="number" name="checkValue" class="form-control form-txt-warning" placeholder="Check Value" style="background-color: #6495ED;">
                </div>
                <div class="col-md-3 waves-effect waves-light p-b-10">
                    <input type="number" name="checkNumber" class="form-control form-txt-warning" placeholder="Check Number" style="background-color: #6495ED;">
                </div>
                <div class="col-md-3 waves-effect waves-light p-b-10">
                    <input type="date" name="checkDate" class="form-control form-txt-warning" placeholder="Check Date" style="background-color: #6495ED;">
                </div>
                <div class="col-md-6 waves-effect waves-light p-b-10">
                    <input type="text" name="noteTransaction" class="form-control form-txt-warning" placeholder="Note About this Transaction" style="background-color: #6495ED;">
                </div>
                <div class="col-md-6 waves-effect waves-light p-b-10">
                    <input type="text" name="route" class="form-control form-txt-warning" placeholder="Route" style="background-color: #6495ED;">
                </div>

             

              
             
            </div>
            <div class="col-md-3 waves-effect waves-light p-b-10">
                <button type="submit" class="btn btn-primary waves-effect waves-light">Transact</button>
            </div>
            <!-- end of eow -->
      
        </div>
    </div>
    
</div> 

<div class="page-body">
    <!-- Default color card start -->
    <div class="card">
        <div class="card-header">
            <h5>Item Subtotal</h5>
        </div>
        
        <div class="card-block">
            <div class="row text-uppercase text-center">
                <div class="col-md-2 waves-effect waves-light p-b-10">
                    <input type="text" name="itemSubtotal" readonly class="form-control form-txt-warning" placeholder="Item Subtotal" style="background-color: #6495ED;">
                </div>
                <div class="col-md-2 waves-effect waves-light p-b-10">
                    <input type="text" name="grandTotal" readonly class="form-control form-txt-warning" placeholder="Grand Total" style="background-color: #6495ED;">
                </div>
                <div class="col-md-2 waves-effect waves-light p-b-10">
                    <input type="text" name="cavans" readonly class="form-control form-txt-warning" placeholder="Cabans " style="background-color: #6495ED;">
                </div>
                <div class="col-md-2 waves-effect waves-light p-b-10">
                    <input type="text" name="change" readonly class="form-control form-txt-warning" placeholder="Change" style="background-color: #6495ED;">
                </div>
                <div class="col-md-2 waves-effect waves-light p-b-10">
                    <select id="cars" name="newStatus" class="form-control form-txt-warning" placeholder="Check Cleared" style="background-color: #6495ED;">
                        <option value="Status">Status</option>
                        <option value="Paid">Paid</option>
                        <option value="Balance">Balance</option>
                        
                   
                      </select>
                </div>
                <div class="col-md-2 waves-effect waves-light p-b-10">
                    <input type="number" name="rowsLeft"  class="form-control form-txt-warning" placeholder="Rows Left" style="background-color: #6495ED;">
                </div>
                <div class="col-md-12 waves-effect waves-light p-b-10">
                    <input type="number" name="newBalance" class="form-control form-txt-warning" style="background-color: black;" placeholder="New Balance/Total Amount Due">
                </div>
        
            </div>
            <!-- <div class="col-md-3 waves-effect waves-light p-b-10">
                <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
            </div> -->
        </form>
            <!-- end of eow -->
        </div>
    </div>
    
</div> 



<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"> </script>  
<script type = "text/javascript">  
function calculate() {   
 if(isNaN(document.forms["myform"]["selectPricing"].value) || document.forms["myform"]["selectPricing"].value=="") {   
 var selectPricing = 0;   
 } else {   
 var selectPricing = parseInt(document.forms["myform"]["selectPricing"].value);   
 } 
 if(isNaN(document.forms["myform"]["kilos"].value) || document.forms["myform"]["kilos"].value=="") {   
 var kilos = 0;   
 } else {   
 var kilos = parseInt(document.forms["myform"]["kilos"].value);   
 }   
 if(isNaN(document.forms["myform"]["sacks"].value) || document.forms["myform"]["sacks"].value=="") {   
 var sacks = 0;   
 } else {   
 var sacks = parseFloat(document.forms["myform"]["sacks"].value);   
 }
 if(isNaN(document.forms["myform"]["kilosType"].value) || document.forms["myform"]["kilosType"].value=="") {   
 var kilosType = 0;   
 } else {   
 var kilosType = parseFloat(document.forms["myform"]["kilosType"].value);   
 } 
 if(isNaN(document.forms["myform"]["inputKilos"].value) || document.forms["myform"]["inputKilos"].value=="") {   
 var inputKilos = 0;   
 } else {   
 var  inputKilos= parseFloat(document.forms["myform"]["inputKilos"].value);   
 }
 if(isNaN(document.forms["myform"]["amount"].value) || document.forms["myform"]["amount"].value=="") {   
 var amount = 0;   
 } else {   
 var amount = parseFloat(document.forms["myform"]["amount"].value);   
 }
 if(isNaN(document.forms["myform"]["kilos"].value) || document.forms["myform"]["kilos"].value=="") {   
 var kilos = 0;   
 } else {   
 var kilos = parseFloat(document.forms["myform"]["kilos"].value);   
 }
 
 
 
 document.forms["myform"]["amount"].value = (selectPricing*inputKilos);
 document.forms["myform"]["grandTotal"].value = (selectPricing*inputKilos);
 document.forms["myform"]["itemSubtotal"].value = (sacks);

 document.forms["myform"]["inputKilos"].value = (kilos);


 
     
 }  

 function kilosCal(){
    if(isNaN(document.forms["myform"]["kilosType"].value) || document.forms["myform"]["kilosType"].value=="") {   
 var kilosType = 0;   
 } else {   
 var kilosType = parseInt(document.forms["myform"]["kilosType"].value);   
 } 
 if(isNaN(document.forms["myform"]["sacks"].value) || document.forms["myform"]["sacks"].value=="") {   
 var sacks = 0;   
 } else {   
 var sacks = parseInt(document.forms["myform"]["sacks"].value);   
 } 

 document.forms["myform"]["kilos"].value = (kilosType*sacks);
 document.forms["myform"]["cavans"].value = (sacks);





 }

 function pricingCal(){
    if(isNaN(document.forms["myform"]["price"].value) || document.forms["myform"]["price"].value=="") {   
 var price = 0;   
 } else {   
 var price = parseInt(document.forms["myform"]["price"].value);   
 } 
 if(isNaN(document.forms["myform"]["kilos"].value) || document.forms["myform"]["kilos"].value=="") {   
 var kilos = 0;   
 } else {   
 var kilos = parseInt(document.forms["myform"]["kilos"].value);   
 } 
 

 document.forms["myform"]["amount"].value = (kilos*price);
 document.forms["myform"]["grandTotal"].value = (kilos*price);



 }
 function changeCal(){
    if(isNaN(document.forms["myform"]["amount"].value) || document.forms["myform"]["amount"].value=="") {   
 var amount = 0;   
 } else {   
 var amount = parseInt(document.forms["myform"]["amount"].value);   
 } 
 if(isNaN(document.forms["myform"]["cashRemited"].value) || document.forms["myform"]["cashRemited"].value=="") {   
 var cashRemited = 0;   
 } else {   
 var cashRemited = parseInt(document.forms["myform"]["cashRemited"].value);   
 } 


 document.forms["myform"]["change"].value = (cashRemited-amount);

 
 }



</script> 



<%- include('include/footer') %>